<section class="relative h-screen">
    <div class="h-96 flex items-center " style="background-image: url('./../../../assets/img/bg.png'); background-size: cover; background-repeat: no-repeat; background-position: top; height: 800px;">
        <div class=" justify-start items-start justify-items-start lg:pl-80 md:pl-24">
            <h1 class="w-96 text-4xl font-bold text-left text-gray-200" >"PT. Bukit Asam berkomitmen dalam meningkatkan pendidikan generasi penerus di
                    wilayah sekitar operasionalnya."</h1>
        </div>
    </div>
    
    <div class="bg-white w-full">
        <div class=" mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
           
        </div>
    </div>

</section>